* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(125, 113, 230, 0.1);
}

.navbar {
    width: 100%;
    background-color: rgba(125, 113, 230, 0.07);
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    gap: 30px;
}

.experiencia {
    text-align: center;
    border: none;
    border-radius: 20px;
    color: #7D71E6;
    background-color: rgba(125, 113, 230, 0.25);
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    width: 225px; 
    height: 77px;
}

.proyectos {
    text-align: center;
    border: none;
    border-radius: 20px;
    color: #7D71E6;
    background-color: rgba(125, 113, 230, 0.25);
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    width: 225px; 
    height: 77px;
}

.contacto {
    text-align: center;
    border: none;
    border-radius: 20px;
    color: #7D71E6;
    background-color: rgba(125, 113, 230, 0.25);
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    width: 225px; 
    height: 77px;
}

.yo {
  margin-left: 30%;
  margin-top: 159px;
}

.elchurro {
    display: flex;
    align-items: center;
    gap: 60px
}
.churrito {
    
}

.disponible {
    text-align: center;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    width: 225px; 
    height: 77px;
}

.soy {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.descripcion {
    font-size: 26px;
    line-height: 1.6;
    max-width: 720px;
}

.acciones {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.contactame {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
    font-size: 20px;
    padding: 0.66rem 1.31rem;
}

.linkedin {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
  font-size: 20px;
  padding: 0.66rem 1.31rem;
}

#experiencias {
}

.expe {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 159px;
}

.aplicacion {
    background-color: #FFFFFF;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 30px 60px;
    margin-right: 680px;
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 260px;
}

.tituloapp {
    font-weight: 600;
    font-size: 32px;
    color: #7D71E6;
}

.relatoapp {
    line-height: 1.6;
    font-weight: 600;
    font-size: 24px;
    color: #7D71E6;
    max-width: 874px;
}

.fechaapp {
    color:#7D71E6;
    border-color:#7D71E6;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
}

.videojuegos {
    background-color: #FFFFFF;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 30px 60px;
    margin-left: 680px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.titulojuegos {
    font-weight: 600;
    font-size: 32px;
    color: #7D71E6;
}

.relatojuegos {
    line-height: 1.6;
    font-weight: 600;
    font-size: 24px;
    color: #7D71E6;
    max-width: 890px;
}

.fechajuegos {
    color:#7D71E6;
    border-color:#7D71E6;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

.front {
    background-color: #FFFFFF;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 30px 60px;
    margin-right: 680px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.titulofront {
    font-weight: 600;
    font-size: 32px;
    color: #7D71E6;
}

.relatofront {
    line-height: 1.6;
    font-weight: 600;
    font-size: 24px;
    color: #7D71E6;
    max-width: 874px;
}

.fechafront {
    color:#7D71E6;
    border-color:#7D71E6;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

#proyectosseccion {
}

.proyectation {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 59px;
}

.proyecto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    gap: 40px;
    background-color: rgba(125, 113, 230, 0.000000000000000000000001);
    margin-top:50px;
    padding: 30px 40px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.comidapp {
    cursor: pointer;
}

.infocomidapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #000000;
    max-width: 600px;
}
.infocomidapp p {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}


.comidita {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.entrar {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
    font-size: 20px;
    padding: 0.66rem 1.31rem;
}

.nota {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 39px;
    color: #7D71E6;    
}

.accionesabajo {
    margin-top: 49px;
    margin-bottom: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
}

.github {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
    font-size: 20px;
    padding: 0.66rem 1.31rem;
}

.contactoabajo {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 167px;
    color: #FFFFFF;
    background-color: #7D71E6;
    font-size: 20px;
    padding: 0.66rem 1.31rem;
    
}

a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}